body, header, main, footer {width: 210mm;}
.about_us, .portfolio, .services, .stages_of_work, .contact_form, .clients_feedback {width: 210mm;}
.heading {margin-bottom: 5mm; font-size: 38px;}
/*B A N N E R*/

.banner {width: 210mm;}
header .banner .background {display: none;}
header .banner .interior_design {
    position: unset;

    width: 210mm;
    height: 31mm;


    padding: 0;
    margin: 0 auto;

    color: #000000;
    text-align: center;

    background: transparent;
}
header .banner .interior_design .heading {
    width: unset;

    margin: 0 auto;

    font-size: 45px;
    color: #000000;
}
header .banner .interior_design p {
    width: 210mm;

    margin: 8px 0 25px 0;

    color: #000000;
}
header .banner .interior_design button {display: none;}

/*A B O U T   U S*/

.about_us {
    min-height: unset;

    margin: 5mm 0 0 0 ;

    grid-template-rows: 45mm 45mm;
    grid-template-columns: repeat(2, 105mm);
    justify-items: center;

    page-break-inside: avoid;
}
.about_us .number {display: none;}
.block00 {width: 90mm;}
.block02, .block04 {align-self: unset;}

/*P O R T F O L I O*/

.portfolio {margin: 0;}
.portfolio .menu, .portfolio .slider {display: none;}
.portfolio .heading a[href]:after {content: " (" attr(href) ")";}

/*S E R V I S E S*/

.services {margin-bottom: 5mm; page-break-inside: avoid;
    page-break-after: auto;
}

.services .picture, .services .number-of-projects, .services .text, .services .button {display: none;}

.services .items {display: block;}
.services .items div {margin-bottom: 10px;}

/*S T A G E S  O F   W O R K*/

.stages_of_work {
    margin-top: 0;
    margin-bottom: 10mm;

    widows: 5;
    orphans: 5;
    page-break-before: always;
}
.stages_of_work .heading { text-align: center;}
.stages_of_work .serial-number {display: none;}

.stages_of_work .items {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 100mm);
    grid-row-gap: 5mm;
    grid-column-gap: 10mm;
}
.stages_of_work .items .block {display: block;}

/*contact form, clients_feedback*/

.contact_form, .clients_feedback {display: none;}

/*F O O T E R*/
footer {
    display: block;
    margin: 0;
    padding: 1mm 20mm;
    box-sizing: border-box;

    background-color: transparent;
}
footer div {display: none;}

footer .social_media {display: block;}
footer div .vk, footer div .inst, footer div .facebook {display: inline-block;}

footer div .vk::after {content: "vk.com/ourgroup"; padding-left: 2mm;  padding-right: 5mm; color: #000000;}
footer div .inst::after {content: "instagram.com/ourinst";padding-left: 2mm;  padding-right: 5mm; color: #000000;}
footer div .facebook::after {content: "facebook.com/ourfacebook";padding-left: 2mm;  padding-right: 5mm; color: #000000;}

@page:left {
    margin-left: 10mm;
}
@page:right {
    margin-right: 10mm;
}